.blog {
  padding-top: 100px;

  @include mobile-m {
    padding-top: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
      justify-content: center;
    }
  }

  &__item {
    width: 100%;
    max-width: 420px;

    @include tablet {
      margin-right: 10px;
    }

    @include macbook {
      max-width: 600px;
    }

    @include mobile-m {
      margin-right: 0;
    }
  }
}
