<section class="blog">
  <div class="container-small blog__container">
    <ul class="blog__list list-reset">


      <li class="blog__item">
        <article class="blog__article article">
          <picture>
            <source srcset="img/image-music-festival.avif" type="image/avif">
            <source srcset="img/image-music-festival.webp" type="image/webp">
            <source srcset="img/image-music-festival.jpg">
            <img class="article__image" src="img/image-music-festival.jpg" width="420" loading="lazy"
              alt="people on the music festival">
          </picture>
          <a class="article__subtitle" href="#">Lifestyle</a>
          <a class="article__link" href="#">
            <h2 class="article__title">More than just a music festival</h2>
          </a>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
          </p>
        </article>
      </li>

      <li class="blog__item">
        <article class="blog__article article">
          <picture>
            <source srcset="img/image-with-coffee.avif" type="image/avif">
            <source srcset="img/image-with-coffee.webp" type="image/webp">
            <source srcset="img/image-with-coffee.jpg">
            <img class="article__image" src="img/image-with-coffee.jpg" width="420" loading="lazy"
              alt="in the hands on which knitted warm mittens a cup of coffee">
          </picture>
          <a class="article__subtitle" href="#">Lifestyle</a>
          <a class="article__link" href="#">
            <h2 class="article__title">Life tastes better with coffee</h2>
          </a>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex
          </p>
        </article>
      </li>

      <li class="blog__item">
        <article class="blog__article article">
          <picture>
            <source srcset="img/image-american-dream.avif" type="image/avif">
            <source srcset="img/image-american-dream.webp" type="image/webp">
            <source srcset="img/image-american-dream.jpg">
            <img class="article__image" src="img/image-american-dream.jpg" width="420" loading="lazy"
              alt="two women on the background of a large bridge show someone with their hands a sign of peace">
          </picture>
          <a class="article__subtitle" href="#">Photodiary</a>
          <a class="article__link" href="#">
            <h2 class="article__title">American dream</h2>
          </a>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex
          </p>
        </article>
      </li>

      <li class="blog__item">
        <article class="blog__article article">
          <picture>
            <source srcset="img/image-day-alps.avif" type="image/avif">
            <source srcset="img/image-day-alps.webp" type="image/webp">
            <source srcset="img/image-day-alps.jpg">
            <img class="article__image" src="img/image-day-alps.jpg" width="420" loading="lazy"
              alt="in the photo a man stands with his back against the backdrop of mountains">
          </picture>
          <a class="article__subtitle" href="#">Photodiary</a>
          <a class="article__link" href="#">
            <h2 class="article__title">A day exploring the Alps</h2>
          </a>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex
          </p>
        </article>
      </li>


    </ul>
  </div>
</section>
