<section class="blog-bottom">
  <div class="container-small blog-bottom__container">
    <ul class="blog-bottom__list list-reset">


      <li class="blog-bottom__item">
        <article class="blog-bottom__article article">
          <picture>
            <source srcset="img/image-top-song.avif" type="image/avif">
            <source srcset="img/image-top-song.webp" type="image/webp">
            <source srcset="img/image-top-song.jpg">
            <img class="article__image" src="img/image-top-song.jpg" width="420" loading="lazy"
              alt="people on the music festival">
          </picture>
          <a class="article__subtitle" href="#">Lifestyle</a>
          <a class="article__link" href="#">
            <h2 class="article__title">Top 10 song for running</h2>
          </a>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
          </p>
        </article>
      </li>

      <li class="blog-bottom__item">
        <article class="blog-bottom__article article">
          <picture>
            <source srcset="img/image-cold-winter.avif" type="image/avif">
            <source srcset="img/image-cold-winter.webp" type="image/webp">
            <source srcset="img/image-cold-winter.jpg">
            <img class="article__image" src="img/image-cold-winter.jpg" width="420" loading="lazy"
              alt="in the hands on which knitted warm mittens a cup of coffee">
          </picture>
          <a class="article__subtitle" href="#">Lifestyle</a>
          <a class="article__link" href="#">
            <h2 class="article__title">Cold winter days</h2>
          </a>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex
          </p>
        </article>
      </li>


    </ul>
    <div class="blog-bottom__btn-inner">
      <a class="blog-bottom__link-btn" href="#">Load more</a>
    </div>
  </div>
</section>
